<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <button class="eat" data-id="{{id}}">Devour!</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    <li class="eaten">
      {{burger_name}}
    </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger you want to eat:</h2>
<form>
  <div>
    <label for="burger-name-input">Burger Name:</label>
    <input type="text" id="burger-name-input">
  </div>

  <button type="submit" id="burger-submit">Add Burger</button>
</form>
